.small{
    width: 30px;
    height: 30px;
}
ul>li>a{
    color: white !important;
}
.mine_card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
    gap: 10px;
}